/**
alternative color:#F39C12;
**/

.col-sm-4,
.col-sm-7
{
	padding-left: 0!important;
	padding-right: 0!important;
}

.row-fluid .col-sm-4
{
	width: 30%;
}

.form-group-single
{
	display: inline-block;
}
.body-cover
{
	overflow: hidden;
	padding: 0;
}
.body-found,.container-found,html
{
	height: 100%;
}
.btn-hue,
.btn-hue-default
{
	background-color:#CC6600;
	border-color:#CC5500;
	color:#FFF;
}
.btn-hue:hover,
.btn-hue-default:hover
{
	background-color:#CC5800;
	border-color:#CC5500;
	color: #FFF;
}
.btn-hue:focus,
.btn-hue-default:focus
{
	background-color:#CC6600;
	border-color:#CC5500;
	color:#FFF;
}
.btn-gray
{
	background-color:#FFF;
	border-color:#ADADAD;
	color: #ADADAD;
}
.btn-gray:hover
{
	background-color:#E6E6E6;
}
.btn-edit-profile
{
	background-color: #FFF;
	border-color: #CC5500;
	color: #808080;
	width: 250px;
	margin-top: 15px;
}

.btn-delete
{
	margin:18px 0 0 0; 
}
.btn-dice-home
{
	margin: auto;
	width: 300px;
}
.btn-dice
{
	height:30%;

	font-size: 35px;
	color: #FFF;
}
.btn-home
{
	height: 30%;
	padding-top: 8px;
	padding-bottom: 4px;
	font-size: 35px;
	color: #FFF;
}
.navbar-leftside,
.navbar-leftside-default
{
	position: fixed;
	color:#FFF;
	height:100%;
	width: 75px;
	z-index:100;
}
.navbar-expanded
{
	background-color:#2C2C2C;
	border-color:#2C2C2C;
	height:100%;
}

.navbar-user-icon
{
	width: 60px;
	height: 60px;
}
.navbar-login
{
	position: fixed;
	right: 20px;
	top: 20px;
}
.navbar-top
{
	z-index: 100;
	background: #FFF;
	border-bottom: 1px solid;
	border-bottom-color: #D9D9D9;
}
.navbar-found,
.navbar-user
{
	height:75px;
}
#upload-photo-preview
{
	max-width: 70%;
	margin-bottom: 30px;
}
#upload-photo-text span
{
	padding-left: 15px;
	font-size: 20px;
	color: #CC5800;
}
#upload-title
{
	width: 50%;
	height: 40px;
	font-size: 20px;
	margin-bottom: 15px;
	display: inline-block;
}
#upload-description
{

}
.navbar-mypage
{
	height:120px;
}
.navbar-top-ul
{
	padding-left:30px;
	text-align: center;
	float: none;
	margin:0; 
}
.navbar-top-ul li
{
	float:left;
}
.navbar-found-ul li a
{
	height: 74px;
	width: 90px;
	font-size: 25px;
	padding-top: 30px;
	color:#555;
}
.navbar-mypage-ul li a
{
	height: 119px;
	width: 120px;
	font-size: 25px;
	padding-left:0;
	color:#555;
}
.navbar-mypage-icon
{
	height:90px;
	width: 90px;

}
.navbar-mypage-username
{
	margin:0;
	height: 50px;
	margin-top: 50px;
}
.navbar-found-active
{
	border-bottom-color: #555;
	border-bottom: 1px solid; 
}
.navbar-found-upload, .navbar-mypage-upload
{
	margin:20px 30px;
	color:#F38712;
	cursor: pointer;
}
.navbar-found-upload:hover, .navbar-mypage-upload:hover
{
	color: #F56C00;
}
.navbar-found-upload-icon
{
	font-size: 30px;
}
.navbar-mypage-upload-icon
{
	font-size: 50px;
	padding-top: 15px;
}
@media (min-width: 768px){
	.row-fluid .col-sm-offset-4
	{
		margin-left:30%;
	}
	.navbar-expanded,.img-theme,.navbar-leftside-expanded
	{
		display:block!important;
	}
	.navbar-shrink
	{
		display: none;
	}
	.navbar-found,
	.navbar-user
	{
		top:0;
		position: fixed;
		
	}
	.found-expanded
	{
		display: block;
	}
	.found-photo
	{
		padding-top: 75px;
	}
	.user-content-container
	{
		
		padding: 105px 15px 0 30px;
	}
}
@media (max-width: 768px){
	.navbar-expanded,.img-theme,.navbar-leftside-expanded
	{
		display: none!important;
	}
	.navbar-shrink
	{
		display: block;
		top: 20px;
	}
	.navbar-found,
	.navbar-user
	{
		top:95px;
		position: absolute;
		
	}
	.navbar-found
	{
		
	}
	.found-expanded
	{
		/*display: none;*/
	}

	.found-photo
	{
		padding-top: 170px;
	}
	.user-content-container
	{
		
		padding: 200px 15px 0 15px;
	}
}
.cover
{
	position: absolute;
	margin:0;
	width:100%;
	height:100%;
}
.img-cover
{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	/***
	background-image: url("../image/fish.jpg");
	-moz-background-size:100% 100%; 
	background-size:100% 100%;
	***/
}
.theme-found
{
	width: 295px;
	height: 100%;
	margin-left: 75px;
}
.img-theme
{
	background-image: url("../image/theme.jpg");
	height: 100%;
	left:0;
}
.mask-cover
{
	background-color: #FFF;
	opacity: 0.75;
}

#course
{
	text-align: center;
	color:#FFF;
	padding-bottom: 10px;
}
.dice
{
	z-index: 10;
	position: fixed;
	height:200px;
	width: 100%!important;
	margin-top: 220px!important;
}

.navbar-expanded .active
{
	-webkit-box-shadow: inset 0 0 10px #F56C00;
	-moz-box-shadow: inset 0 0 10px #b9351f;
	box-shadow: inset 0 0 10px #FF7000;
}
.active
{
	background-color:#F39C12;
	color:#FFF;
	text-shadow:0 1px 0 #b9351f;
}
.active:hover
{
	background-color: #F38712;
	color: white;
	text-shadow: 0 1px 0 #b9351f;
}
.logo-link
{
	text-decoration: none!important;
}
.logo
{
	width: 75px;
	height: 75px;
	font-family: KaiTi;
	font-size: 45px;
	text-align:center;
	padding-top: 5px;
	cursor: pointer;
}
.login
{
	color:#555;
	font-size: 16px;
	cursor: pointer;
	display:;
}
.login:hover
{
	color:#222;
}
.logined,
.logined:hover
{
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.input-group-login,
.input-group-signin
{
	width:60%;
	margin:auto; 
}
.input-hidden-upload
{
	position: absolute;
	width: 50px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
}
#user-info-icon-container
{
	width: 250px;
	margin:auto; 
}
#upload-icon-container
{
	width: 100%;
	height: 100%;
	border: gray 2px dashed;
	display: none;
	position: absolute;
	top: 0;
}
#upload-icon
{
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	padding: 0;
}
#user-info-icon-footer
{
	text-align: center;
	margin-top: 15px;
	display: none;
}
.main-offset
{
	padding-left: 75px;
}

.found-photo-container
{
	
	margin: 0 30px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}
.found-photo-head
{
	height: 70px;
}
.found-photo-title
{
	float:left;
}
.found-photo-user
{
	margin-top: 17px;
	float: right;
}
.found-photo-user-icon
{

	width:40px;
	height:40px;
}
.found-photo-content
{
	width:100%;
	height: 400px;
}
.found-photo-footer
{
	color: gray;
	padding-bottom: 10px;
}
.found-photo-footer-heart
{
	cursor:pointer;
}
.found-photo-footer-heart-empty
{
	color: gray;
}
.found-photo-footer-heart-full
{
	color: #F38712;
}
.found-photo-load
{
	height:50px;
	width: 100%;
	color: gray;
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

/**
User page:
**/

.user-info
{
	text-align: center;
	border-bottom: solid 1px #E0E0E0;
}
.user-info-icon
{
	width: 100px;
	height: 100px;
	background-size:contain;
	margin:0 auto;
	position: relative;
}
.user-info-icon img
{
	width: 100%;
	height: 100%;
}
.user-info-stats-ul
{
	list-style-type: none;
	padding-left: 0;
	padding-top: 10px;
	color:#8F8F8F;
}
.user-info-stats-ul li
{
	display: inline;
	font-size: 17px;
	height: 100%;
}

#user-info-change-pw,
#user-info-change-name
{
	padding-top: 20px;
	width:250px;
	margin: auto;
	display:none;
}
#user-info-change-pw input
{
	margin-bottom: 10px;
}
.form-footer
{
	text-align: right;
}
.form-footer button
{
	padding-left: 10px;
}
/*user-post*/
.user-post
{
	padding-top: 25px;
}
.user-post-ul
{
	list-style-type: none;
	padding-left: 0;
}
.user-post-ul li
{
	border-style: solid;
	border-color: #FFF;
	border-width: 0;
	display: inline-block;
	cursor: pointer;
	width: 24%;
}
.user-post-ul li div
{
	background-size: cover;
	width: 100%;
	height: 170px;
}

/*photo-detail*/
.photo-detail
{
	width: 95%;
	margin: 30px auto;
}
.photo-detail-title
{
	display: inline-block;
}
.photo-detail-photo,
.found-photo-content
{
	background-size: cover;
	width:100%;
	height:170px;
}
.photo-detail-footer .description
	width: 80%;
	float: left;
	word-wrap:break-word;
	word-break:normal;
}
.photo-detail-footer span
{
	color:gray;
}
.alert
{
	color:#c9302c;
}
#delete-photo-dialog .modal-body
{
	padding-left: 30px;
	font-size: 20px;
}
.like-list
{
	list-style-type: none;
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}
.like-list li
{
	display: inline-block;
}
